*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-size: 14px;
    text-align: left;
}

h1{
    font-size: 25px;
}

#slide1{
    width: 100%;
    height: auto;
}

.slider{
    position: relative;
    margin-top: -1500px;
    margin-left: -200px;
    width: 2100px;
    height: auto;
    
}


.nav{
    margin: 0 auto;
    width: 80%;
    
}

.nav {
    position: absolute;
    margin: -620px 0 0 70px;
    list-style: none;
    background-color: #FFA219;
    z-index: 2;
}

.nav ul li{
    float: none;
    display: inline-block;
}

.nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 50px;
}

.nav a.active{
    background: white;
    color: #FFA219;
    border-radius: 20px;
}

.nav ul li a:hover{
    background: white;
    color: #FFA219;
    border-radius: 20px;
    transition: 0.5s;
}

.logo{
    position: absolute;
    display: inline-block;
    z-index: 1 ;
    top: 75px;
    left: 750px;
}

.logo img{
    width: 170px;
    height: auto;
}

.text{
    width: 450px;
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: 250px;
    left: 43%;
}

.text h1, p{
    text-align: right;
    color: white;
    
}

.ps{
    position: absolute;
    display: inline-block;
    z-index: 1 ;
    top: 450px;
    left: 770px;
}

.ps img{
    width: 150px;
    height: auto;
}

.img1{
    position: absolute;
    display: inline-block;
    z-index: 1 ;
    top: 15%;
    left: 15%;
}

.img1 img{
    width: 350px;
    height: auto;
}

#slide2{
    padding-top: 50px;
    width: 100%;
    height: auto;
}

#slide2 > .header{
    margin-top: 50px;
    width: 100%;
}

#slide2 > .header h1{
    text-align: center;
    color: #5D5D5D;
}

.header > p{
    color: #737373;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.infog{
    margin-top: 20px;
    position: absolute;
    display: inline-block;
    z-index: 1 ;
    width: 100%;
    top: 850px;
    text-align: center;
}

.infog img{
    width: 1000px;
    height: auto;
}

#slide3{
    margin-top: 450px;
    width: 100%;
    height: auto;
}

.header1{
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
    color : white;
    padding-top: 20px;
    margin-top: -850px;
}

.header1 p{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.ui{
    position: absolute;
    display: inline-block;
    z-index: 1 ;
    left: 230px;
    margin-top: -670px;
}

.ui > img{
    width: 240px;
    height: auto;
}

.bg{
    position: relative;
    width: 100%;
    height: auto;
    z-index:  -2;
}

.icon > li {
    background-color: white;
    color: blue;
    border-radius: 75px;
    width: 50px;
    height: 50px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 55px;
    
}

.icon{
    left: 300px;
    top: 40px;
    position: absolute;
}

.det{
    left: 370px;
    top: 5px;
    position: absolute;
    width: 400px;
    color: white;
}

ul{
    list-style-type: none;
    position: absolute;
}

#footer{
    margin-top: 50px;
    background-color: #FFA219;
    width: 100%;
    height: 300px;
    border: solid 1px #707070;
    align-content: center;
    justify-content: center;
    color: white;
    padding: 5px 0px;
}



hr{
    width: 50%;
    color: #6A6975;
}

.line1, .line2, .line3{
    width: 100%;
    position: relative;
    display: inline-flex;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 2px;
}
.line1{
    padding-left: 20%;
}
.line2{
    padding-left: 28%;
    font-size: 24px;
}
.line3{
    padding-left: 22.5%;
    font-size: 13px;
}

.line1 > li, .line2 > li, .line3 > li{
    float: none;
    text-align: center;
}

.line1 > li {
    padding-right: 70px;

}

.line2 > li{
    padding-right: 220px;
} 

.line3 > li{
    padding-right: 70px;
}


#footer p{
    text-align: center;
    font-size: 20px;
}

#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #dd8a0d;
    font-size: 25px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: none;
}

#btnScrollToTop:active{
    background: #eeb663;
}

@media screen and (max-width: 600px) {
    #slide1 .nav a:not(:first-child) {
        display: none;
    }

    .nav a.icon {
      float: right;
      display: block;
    }
    
    .nav.responsive {
        position: relative;
    }
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }