body{
    background: no-repeat linear-gradient(#FFA219, #EEC07B) ;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
    height: 100%;
}

h2{
    font-size: 17px;
}

p{
    font-size: 14px;
    padding-left: 70px;
    width: 350px;
}

body > img{
    position: absolute;
    width: 150px;
    height: auto;
    top: 55px;
    left: 45%;
}

.form{
    background-color: #EEC07B;
    width: 500px;
    height: auto;
    position: absolute;
    left: 30%;
    top: 250px;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 30px;
    padding: 10px;
}

input[type=password]{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 400px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #707070;
}

input[type=submit]{
    width: 400px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 400px;
    height: 40px;
    background-color: #8F4814;
    border: 1px solid #EEC07B;
    border-radius: 10px;
}

::placeholder {
    color: white;
}

@media screen and (max-width: 800px) {
    .form{
        left: 17vw;
    }

    body > img{
        left: 40vw;
    }
}

@media screen and (max-width: 900px) {
    .form{
        left: 18vw;
    }

    body > img{
        left: 40vw;
    }
}

@media screen and (max-width: 500px) {
    .form{
        top: 200px;
        left: 13vw;
        width: 300px;
        
    }

    input[type=password],input[type=submit] {
        width: 200px;
    }

    ::placeholder{
        font-size: 12px;
    }

    p{
        padding-left: 48px;
        font-size: 10px;
        width: 200px;
    }

    h2{
        font-size: 15px;
    }

    body > img{
        left: 37vw;
        width: 110px;
    }
}

@media screen and (max-width: 400px) {
    .form{
        top: 200px;
        left: 15vw;
        width: 250px;
        
    }

    input[type=password],input[type=submit] {
        width: 200px;
    }

    ::placeholder{
        font-size: 12px;
    }

    p{
        padding-left: 30px;
        font-size: 10px;
        width: 200px;
    }

    h2{
        font-size: 15px;
    }

    body > img{
        left: 36vw;
        width: 110px;
    }
}

@media screen and (max-width: 350px) {
    .form{
        top: 200px;
        left: 8vw;
        width: 250px;
        
    }

    input[type=password],input[type=submit] {
        width: 200px;
    }

    ::placeholder{
        font-size: 12px;
    }

    p{
        padding-left: 30px;
        font-size: 10px;
        width: 200px;
    }

    h2{
        font-size: 13px;
    }

    body > img{
        left: 35vw;
        width: 100px;
    }
}

@media screen and (max-width: 300px) {
    .form{
        top: 200px;
        left: 10vw;
        width: 220px;
        
    }

    input[type=password],input[type=submit] {
        width: 200px;
        font-size: 14px;
    }

    ::placeholder{
        font-size: 12px;
    }

    p{
        padding-left: 13px;
        font-size: 10px;
        width: 200px;
    }

    h2{
        font-size: 15px;
    }

    body > img{
        /* left: 30vw; */
        margin : 0 auto;
        width: 100px;
    }
}